controller_manager:
  ros__parameters:
    update_rate: 100

    joint_group_effort_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      ros__parameters:
        use_stamped_vel: true


joint_group_effort_controller:
  ros__parameters:
    joints:
      - left_front_hip_joint
      - left_front_upper_leg_joint
      - left_front_lower_leg_joint
      - right_front_hip_joint
      - right_front_upper_leg_joint
      - right_front_lower_leg_joint
      - left_rear_hip_joint
      - left_rear_upper_leg_joint
      - left_rear_lower_leg_joint
      - right_rear_hip_joint
      - right_rear_upper_leg_joint
      - right_rear_lower_leg_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    use_stamped_vel: true
    allow_partial_joints_goal: true
    state_publish_rate: 100.0
    action_monitor_rate: 20.0
    constraints:
      stopped_velocity_tolerance: 0.01
      goal_time: 0.0
    hold_trajectory_duration: 0.0
    action_tolerance: 1.0
    gains:
      left_front_hip_joint        : {p: 100.0, i: 0.2, d: 1.0, i_clamp: 2.5}
      left_front_upper_leg_joint  : {p: 100.0, i: 0.2, d: 1.0, i_clamp: 2.5}
      left_front_lower_leg_joint  : {p: 100.0, i: 0.2, d: 1.0, i_clamp: 2.5}
      right_front_hip_joint       : {p: 100.0, i: 0.2, d: 1.0, i_clamp: 2.5}
      right_front_upper_leg_joint : {p: 100.0, i: 0.2, d: 1.0, i_clamp: 2.5}
      right_front_lower_leg_joint : {p: 100.0, i: 0.2, d: 1.0, i_clamp: 2.5}
      left_rear_hip_joint         : {p: 100.0, i: 0.2, d: 1.0, i_clamp: 2.5}
      left_rear_upper_leg_joint   : {p: 100.0, i: 0.2, d: 1.0, i_clamp: 2.5}
      left_rear_lower_leg_joint   : {p: 100.0, i: 0.2, d: 1.0, i_clamp: 2.5}
      right_rear_hip_joint        : {p: 100.0, i: 0.2, d: 1.0, i_clamp: 2.5}
      right_rear_upper_leg_joint  : {p: 100.0, i: 0.2, d: 1.0, i_clamp: 2.5}
      right_rear_lower_leg_joint  : {p: 100.0, i: 0.2, d: 1.0, i_clamp: 2.5}
