controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
      
    joint_group_effort_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      ros__parameters:
        use_stamped_vel: true

joint_group_effort_controller:
  ros__parameters:
    joints:
      - front_left_hip_joint
      - front_left_knee_joint
      - front_left_ankle_joint

      - front_right_hip_joint
      - front_right_knee_joint
      - front_right_ankle_joint

      - rear_left_hip_joint
      - rear_left_knee_joint
      - rear_left_ankle_joint

      - rear_right_hip_joint
      - rear_right_knee_joint
      - rear_right_ankle_joint
    command_interfaces:
      - effort
      - position
    state_interfaces:
      - position
      - velocity
    use_stamped_vel: true
    allow_partial_joints_goal: true
    state_publish_rate: 100.0
    action_monitor_rate: 20.0
    constraints:
      stopped_velocity_tolerance: 0.01
      goal_time: 0.0
    hold_trajectory_duration: 0.0
    action_tolerance: 1.0
    gains:
      front_left_hip_joint: { p: 100.0, i: 0.2, d: 10.0, i_clamp: 2.5 }
      front_left_knee_joint: { p: 100.0, i: 0.2, d: 10.0, i_clamp: 2.5 }
      front_left_ankle_joint: { p: 100.0, i: 0.2, d: 10.0, i_clamp: 2.5 }

      front_right_hip_joint: { p: 100.0, i: 0.2, d: 10.0, i_clamp: 2.5 }
      front_right_knee_joint: { p: 100.0, i: 0.2, d: 10.0, i_clamp: 2.5 }
      front_right_ankle_joint: { p: 100.0, i: 0.2, d: 10.0, i_clamp: 2.5 }

      rear_left_hip_joint: { p: 100.0, i: 0.2, d: 10.0, i_clamp: 2.5 }
      rear_left_knee_joint: { p: 100.0, i: 0.2, d: 10.0, i_clamp: 2.5 }
      rear_left_ankle_joint: { p: 100.0, i: 0.2, d: 10.0, i_clamp: 2.5 }

      rear_right_hip_joint: { p: 100.0, i: 0.2, d: 10.0, i_clamp: 2.5 }
      rear_right_knee_joint: { p: 100.0, i: 0.2, d: 10.0, i_clamp: 2.5 }
      rear_right_ankle_joint: { p: 100.0, i: 0.2, d: 10.0, i_clamp: 2.5 }
