<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="use_mock_hardware" default="true" />
  <xacro:arg name="use_gazebo" default="true" />

  <ros2_control name="FirstRobot" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <!-- Joint Definitions -->
    <xacro:macro name="define_joint_interfaces" params="joint_name">
      <joint name="${joint_name}">
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
    </xacro:macro>
  
  </ros2_control>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find first_robot)/config/ros_control.yaml</parameters>
    </plugin>
  </gazebo>
</robot>