<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_robot">
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="use_mock_hardware" default="true" />
    <xacro:include filename="inertial_base.xacro" />
    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="gz_control.xacro" />
    <xacro:include filename="lidar_2d_camera.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="imu_link.xacro" />
</robot>