<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Base -->
  <link name="base_link">
    <visual name="base_link_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
      <material name="white" />
    </visual>
    <!-- collision & inertial -->
  </link>

  <joint name="floating_base" type="fixed">
    <parent link="base_link"/>
    <child link="trunk"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Trunk : Thân robot -->
  <link name="trunk">
    <visual name="trunk_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="${trunk_length} ${trunk_width} ${trunk_height}"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision name="trunk_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="${trunk_length} ${trunk_width} ${trunk_height}"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="${trunk_com_x} ${trunk_com_y} ${trunk_com_z}"/>
      <mass value="${trunk_mass}"/>
      <inertia ixx="${trunk_ixx}" ixy="${trunk_ixy}" ixz="${trunk_ixz}" iyy="${trunk_iyy}" iyz="${trunk_iyz}" izz="${trunk_izz}"/>
    </inertial>
    </link>


    <!-- Front Body -->
    <link name="front_body">
      <visual name="front_body_visual">
        <geometry>
          <box size="0.05 0.1 0.05"/>
        </geometry>
        <material name="pink"/>
      </visual>
      <collision name="front_body_collision">
        <geometry>
          <box size="0.05 0.1 0.025"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
      </inertial>
    </link>

    <!-- Joint nối base_link và front_body -->
    <joint name="front_body_joint" type="fixed">
      <parent link="base_link"/>
      <child link="front_body"/>
      <origin xyz="0.1 0 0" rpy="0 0 0"/>
      <!-- Đẩy về trước cho cân đối -->
    </joint>

    <!-- Rear Body -->
    <link name="rear_body">
      <visual name="rear_body_visual">
        <geometry>
          <box size="0.02 0.02 0.1"/>
        </geometry>
        <material name="purple"/>
      </visual>
      <collision name="rear_body_collision">
        <geometry>
          <box size="0.02 0.02 0.1"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="2.0"/>
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
      </inertial>
    </link>

    <!-- Joint nối base_link và rear_body -->
    <joint name="rear_body_joint" type="fixed">
      <parent link="base_link"/>
      <child link="rear_body"/>
      <origin xyz="-0.1 0 0" rpy="0 0 0"/>
      <!-- Đẩy về sau cho cân đối -->
    </joint>



    <!-- IMPORT LEG PATTERN -->
    <xacro:include filename="$(find first_robot)/description/leg_block_v2.xacro"/>

    <!-- Gọi macro leg cho từng chân -->
    <xacro:leg prefix="front_left" side="-1" use_dae="False" pos="1" />
    <xacro:leg prefix="front_right" side="1" use_dae="False" pos="1"/>
    <xacro:leg prefix="rear_left" side="-1" use_dae="False" pos="-1" />
    <xacro:leg prefix="rear_right" side="1" use_dae="False" pos="-1" />


  </robot>