<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="second_robot">

  <xacro:include filename="$(find second_robot)/description/constants.xacro"/>
  <xacro:include filename="$(find second_robot)/description/robot_core.xacro"/>
  <xacro:include filename="$(find second_robot)/description/gz_control.xacro"/>

</robot>
